.input-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-group {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10px;
}

.pair {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pair input {
  min-width: 400px;
  height: 25px;
  font-family: "Karla", sans-serif;
  padding-left: 2px;
}

.pair label {
  position: absolute;
  font-family: "Karla", serif;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: capitalize;
  left: 130px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-group button {
  width: 20%;
  justify-self: center;
  height: 100%;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  outline: none;
  border: none;
  background-color: #fda5a4;
  color: white;
  font-size: 0.88rem;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.pair input:focus + label {
  transform: translateY(-1.5rem);
  font-size: 0.85rem;
}

.clicked + label {
  transform: translateY(-1.5rem);
}
